@model HeroViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Dados do Herói</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeroId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecretIdentityId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecretIdentity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Powers)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Powers.Count() == 0)
            {
                <p>Nenhum poder/arma associado</p>
            }
            else
            {
                foreach(var item in Model.Powers)
                {
                    <ul>@Html.DisplayFor(itemModel => item.Name)</ul>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Films)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Films.Count() == 0)
            {
                <p>Nenhum filme associado</p>
            }
            else
            {
                foreach (var item in Model.Films)
                {
                    <ul>@Html.DisplayFor(itemModel => item.Name)</ul>
                }
            }
        </dd>
    </dl>
</div>
<br />
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.HeroId  }) |
    <a asp-action="Index">Voltar</a>
</div>
