@model IEnumerable<PowerViewModel>

@{
    ViewData["Title"] = "Poderes e Armas";
}

<h1>Poderes e Armas</h1>
<p>
    <a asp-action="Create">Novo Poder/Arma</a>
</p>
@if (Model.Count() < 1)
{
    <p>
        Nenhum poder ou arma cadastrada...
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PowerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hero)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PowerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hero.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.PowerId }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.PowerId }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.PowerId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}