@model IEnumerable<FilmViewModel>

@{
    ViewData["Title"] = "Filmes";
}

<h1>Filmes</h1>
<p>
    <a asp-action="Create">Novo Filme</a>
</p>
@if (Model.Count() < 1)
{
    <p>
        Nenhum filme cadastrado...
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FilmId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FilmId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.FilmId  }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.FilmId }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.FilmId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}